.content {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 100%;
}
.widget-container {
    height: 100%;
}
.chart {
    height: 100%;
    display: block;
    width: 100%;
}
